@import "mocha.css";

@keyframes blink-warning {
  70% {
    color: @text;
  }

  to {
    color: @text;
    background-color: @peach;
  }
}

@keyframes blink-critical {
  70% {
    color: @text;
  }

  to {
    color: @text;
    background-color: @red;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: @base;
  color: @text;
  font-family: Roboto, Noto Sans, sans-serif;
  font-size: 13px;
}

/* Each module */
#mpd,
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
  padding: 0 10px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: @peach;
}

#battery.critical {
  color: @red;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#clock {
  font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
  color: @peach;
}

#cpu.critical {
  color: @red;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: @peach;
}

#memory.critical {
  color: @red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#network {
  /* No styles */
}

#network.disconnected {
  color: @peach;
}

#pulseaudio {
  /* No styles */
}

#pulseaudio.muted {
  /* No styles */
}

#temperature {
  /* No styles */
}

#temperature.critical {
  color: @red;
}

#tray {
  /* background-color: #2980b9; */
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#window {
  font-weight: bold;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @text;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: @surface1;
  box-shadow: inset 0 -3px @text;
}

#workspaces button.focused {
  background-color: @surface0;
  box-shadow: inset 0 -3px @green;
}

#workspaces button.urgent {
  background-color: @red;
}

#mode {
  background-color: @overlay1;
  box-shadow: inset 0 -3px @green;
  border: none;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
